@font-face {
  font-family: "iconfont"; /* Project id 2613467 */
  src: url('iconfont.woff2?t=1623811846138') format('woff2'),
       url('iconfont.woff?t=1623811846138') format('woff'),
       url('iconfont.ttf?t=1623811846138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwujiekou:before {
  content: "\e684";
}

.icon-shangjia:before {
  content: "\e65b";
}

.icon-yishenpi:before {
  content: "\e6c8";
}

.icon-quanxianguanli:before {
  content: "\e61c";
}

.icon-dingyueguanlitubiao:before {
  content: "\e618";
}

.icon-shangjia1:before {
  content: "\e686";
}

.icon-qiyong:before {
  content: "\e833";
}

.icon-xiajia:before {
  content: "\e620";
}

.icon-jiaoseguanli:before {
  content: "\e645";
}

.icon-jinyong:before {
  content: "\ebf6";
}

.icon-shujujiguanli:before {
  content: "\e611";
}

.icon-daishenpi:before {
  content: "\e6b9";
}

.icon-shenpi:before {
  content: "\e65d";
}

.icon-caozuo-xiazaijilu:before {
  content: "\e6f6";
}

.icon-shujuchakan:before {
  content: "\e63e";
}

.icon-fuwujiankong:before {
  content: "\e685";
}

.icon-gengxinjilu2x:before {
  content: "\e680";
}

.icon-user:before {
  content: "\e610";
}

.icon-xingzhuangjiehe:before {
  content: "\e600";
}

.icon-tiaoyongjilu:before {
  content: "\e636";
}

.icon-yingyongfuwu:before {
  content: "\e661";
}

