<sv-container labelWidth="150">
  <sv label="ID">1</sv>
  <sv label="Name">asdf</sv>
  <sv label="Age">25</sv>
  <sv label="Reject" type="danger" col="1"> OMG <a class="ml-sm" (click)="msg.success('to')">Fixed</a> </sv>
  <sv label="Long Optional Long Optional" optional="(RMB)">Optional</sv>
  <sv label="Optional" optionalHelp="Tips">Optional Help</sv>
  <sv label="Default" optionalHelp="The background color is #f50" optionalHelpColor="#f50"></sv>
  <sv [label]="label">
    <ng-template #label>
      <a nz-tooltip="test">long</a>
    </ng-template>
    Custom label
  </sv>
</sv-container>
