<page-header></page-header>
<div>1234</div>
<button [acl]="'user'">少时诵诗书</button>
<button [acl]="{ ability: [1] }">1</button>
<button [acl]="{ ability: [2] }">2</button>
<button [acl]="{ ability: [3] }">3</button>
<button [acl]="{ ability: [4] }">4</button>
<button [acl]="{ ability: [5] }">5</button>
<button [acl]="{ ability: [6] }">6</button>
<button [acl]="{ ability: [7] }">7</button>
<button [acl]="{ ability: [8] }">8</button>
<button [acl]="{ ability: [9] }">9</button>
<button [acl]="{ ability: [0] }">0</button>
